<template>
  <div class="my-bg">
    <EmployeeNavBar />
    <div style="padding-top:80px;padding-bottom:50px;"  >
      <mdb-container class="my-content">
        <br />
        <!-- header -->
        <mdb-row>
          <mdb-col></mdb-col>
          <mdb-col>
            <h2>ระบบจัดการรายการอาหาร</h2>
          </mdb-col>
          <mdb-col></mdb-col>
        </mdb-row>
        <!-- header -->

        <br />

        <!-- input with combobox -->
        <mdb-row>
          <mdb-col>
            <div>
              <select class="browser-default custom-select custom-select-lg mb-3"  v-model="menu.menuType">
                <option value="-1" disabled selected>เลือกประเภทรายการอาหาร</option>
                <option v-for="mt in menuType" :key="mt.id" :value="mt.id">{{mt.typeName}}</option>
              </select>
            </div>
          </mdb-col>
          <mdb-col>
            <div>
              <select
                v-model="menu.appropriateId"
                class="browser-default custom-select custom-select-lg mb-3"
              >
                <option value="-1" selected>-- เหมาะสำหรับ --</option>
                <option
                  v-for="(value,index) in appropriate"
                  :key="index"
                  :value="value.id"
                >{{value.appropriationName}}</option>
              </select>
            </div>
          </mdb-col>
          <mdb-col>
            <div>
              <select
                v-model="menu.nationId"
                class="browser-default custom-select custom-select-lg mb-3"
              >
                <option value="-1" selected>-- สัญชาติอาหาร --</option>
                <option
                  v-for="(value,index) in nation"
                  :key="index"
                  :value="value.id"
                >{{value.nationName}}</option>
              </select>
            </div>
          </mdb-col>
        </mdb-row>
        <!-- input with combobox -->

        <!-- input with textbox -->
        <mdb-input type="text" v-model="menu.menuName" size="lg" label="ชื่อรายการอาหาร" outline />
        <mdb-input type="text" v-model="menu.menuPrice" size="lg" label="ราคา(บาท)" outline />
        <mdb-input
          type="text"
          v-model="menu.menuUnits"
          size="lg"
          label="จำนวน(จาน/ชิ้น/ขวด/แก้ว)"
          outline
        />
        <!-- input with textbox -->

        <!-- add bt -->
        <mdb-col>
          <mdb-btn-group size="lg">
            <mdb-btn color="secondary" @click="saveMenu">เพิ่มรายการอาหาร</mdb-btn>
          </mdb-btn-group>
        </mdb-col>
        <!-- add bt -->
        <hr/>
        <mdb-tbl class="my-table">
          <mdb-tbl-head color="secondary" textBlack>
            <tr>
              <th>ชื่อรายการอาหาร</th>
              <th>ประเภทรายการอาหาร</th>
              <th>ราคา(บาท)</th>
              <th>จำนวน(จาน/ชิ้น/ขวด/แก้ว)</th>
              <th>เหมาะสำหรับ</th>
              <th>สัญชาติอาหาร</th>
            </tr>
          </mdb-tbl-head>
          <mdb-tbl-body>
            <tr v-for="(m,index) in menus" :key="index">
              <th>{{m.menuName}}</th>
              <td>{{m.menuTypeID.typeName}}</td>
              <td>{{m.menuPrice}}</td>
              <td>{{m.menuUnits}}</td>
              <td>{{m.appropriateID.appropriationName}}</td>
              <td>{{m.nationID.nationName}}</td>
            </tr>
          </mdb-tbl-body>
        </mdb-tbl>
        <br>
      </mdb-container>
    </div>
  </div>
</template>

<script>
import http from "../../http-common";
import EmployeeNavBar from "../EmployeeNavbar";

import {
  mdbCol,
  mdbListGroup,
  mdbListGroupItem,
  mdbBtnGroup,
  mdbRow,
  mdbContainer,
  mdbDropdown,
  mdbDropdownItem,
  mdbDropdownMenu,
  mdbDropdownToggle,
  mdbBtn,
  mdbInput,
  mdbDatatable,
  mdbTbl,
  mdbTblHead,
  mdbTblBody
} from "mdbvue";

export default {
  name: "MenuUI",
  components: {
    EmployeeNavBar,
    mdbCol,
    mdbListGroup,
    mdbListGroupItem,
    mdbBtnGroup,
    mdbRow,
    mdbContainer,
    mdbDropdown,
    mdbDropdownItem,
    mdbDropdownMenu,
    mdbDropdownToggle,
    mdbBtn,
    mdbInput,
    mdbDatatable,
    mdbTbl,
    mdbTblHead,
    mdbTblBody
  },
  data() {
    return {
      menuType: [],
      appropriate: [],
      nation: [],
      menus: [],
      menu: {
        menuType: "-1",
        appropriateId: "-1",
        nationId: "-1",
        menuName: "",
        menuPrice: "",
        menuUnits: "",
      }
    };
  },

  updated() {
    //console.log(menuType);
  },

  methods: {
    //ดึงข้อทูล menuType ใส่ combobox
    getMenuType() {
      let currentObj = this;
      http
        .get("/menuType")
        .then(response => {
          this.menuType = response.data;
          console.log(this.menuType);
        })
        .catch(e => {
          console.log(e);
        });
    },
    //ดึงข้อทูล appropriate ใส่ combobox
    getAppropriate() {
      http
        .get("/appropriate")
        .then(res => (this.appropriate = res.data))
        .catch(err => console.log(err));
    },

    //ดึงข้อทูล netion ใส่ combobox
    getNation() {
      http
        .get("/nation")
        .then(res => (this.nation = res.data))
        .catch(err => console.log(err));
    },
    getMenu() {
      http
        .get("/menu")
        .then(res => (this.menus = res.data))
        .catch(err => console.log(err));
    },

    //บันทึกหลังจากกรอกข้อมูลสำเร็จ
    saveMenu() {
      let currentObj = this;
      http
        .post("/menu", {
          menuName: this.menu.menuName,
          menuPrice: this.menu.menuPrice,
          menuUnits: this.menu.menuUnits,
          menuTypeId: this.menu.menuType,
          nationId: this.menu.nationId,
          appropriateId: this.menu.appropriateId
        })
        .then((response) => {
          alert("บันทึกสำเร็จ");
          this.getMenu();
          this.resetForm();
          console.log(currentObj);
        })
        .catch(function(error) {
          alert("เกิดข้อผิดพลาด " + error);
        });
    },
    resetForm(){
      this.menu = {
        menuType: "-1",
        appropriateId: "-1",
        nationId: "-1",
        menuName: "",
        menuPrice: "",
        menuUnits: "",
      }
    }
    
  },
  created() {
    this.getMenuType();
    this.getAppropriate();
    this.getNation();
    this.getMenu();
  }
};
</script>

<style scoped>
.my-bg {
  background: url("https://www.athenaspahotel.com/media/cache/jadro_resize/rc/uJmoXtmd1563349268/jadroRoot/medias/_a1a8429.jpg") no-repeat center center;
  min-height: 100vh;
  height: 100%;
  margin: 0px;
  background-size: cover;
  background-attachment: fixed;
}
.my-content{
  background-color: rgb(255, 255, 255,0.9)
}
.my-table{
  background-color:rgba(214, 175, 139, 0.699);
}
</style>